name: publish ApiEndpoints to nuget
on:
  push:
    branches:
      - main # Your default release branch
      - v4 # vNext
    paths:
      - 'src/Ardalis.ApiEndpoints/**'
jobs:
  publish:
    name: list on nuget
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - name: publish on version change
        uses: rohith/publish-nuget@v2
        with:
          PROJECT_FILE_PATH: src/Ardalis.ApiEndpoints/Ardalis.ApiEndpoints.csproj # Relative to repository root
          TAG_FORMAT: v* # Format of the git tag, [*] gets replaced with version
          INCLUDE_SYMBOLS: true # Pushing symbols along with nuget package to the server
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} # nuget.org API key
