name: publish Swashbuckle package to nuget
on:
  workflow_dispatch:
  push:
    branches:
      - main # Your default release branch
    paths:
      - 'src/Ardalis.ApiEndpoints.Swashbuckle/**'
jobs:
  publish:
    name: list on nuget
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - uses: brandedoutcast/publish-nuget@v2
      - with:
          PROJECT_FILE_PATH: src/Ardalis.ApiEndpoints.Swashbuckle/Ardalis.ApiEndpoints.Swashbuckle.csproj # Relative to repository root
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
          INCLUDE_SYMBOLS: true          
          TAG_FORMAT: Swashbuckle_v* # Format of the git tag, [*] gets replaced with version
          
